/* CreateEmployeePage content */
.createSection{
    align-items: center;
    row-gap: 15px;
    padding: 0px 10px;
}

.buttonsContainer{
    margin: 20px 0px 10px 0px;
    align-items: center;
    column-gap: 50px;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 900px){
    .buttonsContainer{
        flex-direction: column;
        row-gap: 20px;
        margin: 10px 0px 10px 0px;
    }
}