/* Modal content style */
.createModalTitle{
    justify-content: center;
    margin: 5px 0px 15px 0px;
}

.createModalItem{
    display: flex;
    column-gap: 5px;
    align-items: center;
}

ul.createModalList{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 0px;
    padding: 0px;
}

ul.createModalList li svg{
    margin-right: 10px;
}

span.employeData{
    font-weight: 500;
}

/* Page content */

.createSection{
    align-items: center;
    row-gap: 15px;
    padding: 0px 10px;
}

.buttonsContainer{
    margin: 20px 0px 10px 0px;
    align-items: center;
    column-gap: 50px;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 900px){
    .buttonsContainer{
        flex-direction: column;
        row-gap: 20px;
        margin: 10px 0px 10px 0px;
    }
}