/* Global typography */
*{
    font-family: 'Montserrat';
    font-style: normal;
}

/* Global classes */
.bold{
    font-weight: 600;
}

.hidden{
    display: none;
}

.flex{
    display: flex;
}

.flex--wrap{
    flex-wrap: wrap;
}

.flex--row{
    flex-direction: row;
}

.flex--column{
    flex-direction: column;
}

/* global Page secondary title */
h2.sectionTitle{
    font-size: 24px;
    font-weight: 600;
    margin: 5px 5px 30px 5px;
    width: fit-content;
}

/* Global app style */
body{
    max-width: 1440px;
    margin: auto;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}