/* Modal content style */
.createModalTitle{
    justify-content: center;
    margin: 5px 0px 15px 0px;
}

.createModalItem{
    display: flex;
    column-gap: 5px;
    align-items: center;
}

ul.createModalList{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 0px;
    padding: 0px;
}

ul.createModalList li svg{
    margin-right: 10px;
}

span.employeData{
    font-weight: 500;
}

/* Page content */
h1.mainTitle{
    font-size: 36px;
    font-weight: 700;
    justify-content: center;
}

h2.sectionTitle{
    font-size: 24px;
    font-weight: 600;
    margin: 5px;
}

section{
    align-items: center;
    row-gap: 15px;
}

.btn{
    width: fit-content;
    padding: 5px 15px;
    background-color: #146EBE;
    border-color: transparent;
    border-radius: 5px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}

.buttonsContainer{
    margin: 50px 0px;
    align-items: center;
    row-gap: 50px;
}